.infoproducto figure.visor img{
	display:none;
}

.infoproducto figure.visor img:first-child{
	display:block;
}

.flexslider{
	cursor: pointer;
}

.btn-cotizar{
    color: #234560;
    border-color: #234560;
}
.btn-cotizar:hover{
    background-color: #234560;
    color:white;
}
.btn-crear:hover {
    background-color: #FFF!important;
    color:#234560!important;
    border:1px solid #234560!important;
}
.btn-addcar{
    color: #FFF;
    border:solid #FFF;
}
.btn-addcar:hover{
    background-color: #FFF;
    color:#234560;
}

.lista-productos{
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}

input[name=cantidadp]::-webkit-inner-spin-button,
input[name=cantidadp]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:textfield;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{

    background-color: none !important;
    background: none !important;
    border:none !important;
}
.page-link{

    background-color:#234560 !important;
    background: #234560 !important;
    color: #FFF;
    border:none !important;
}

.page-item.active .page-link{

    background-color: #234560 !important;
    background: #234560 !important;
    color: #FFFF;

}
table.dataTable.no-footer {
    border-bottom: none!important;
}
